# Preparation

In [1]:
from pandas import concat, read_parquet
from data import file

In [2]:
data_train = read_parquet(file.news_articles_raw_train)
data_test = read_parquet(file.news_articles_raw_test)
data = concat([data_train, data_test])
data.to_parquet(path=file.news_articles_raw)

In [3]:
data

                                          text_original       label
0     21-Jähriger fällt wohl bis Saisonende aus. Wie...       Sport
1     Erfundene Bilder zu Filmen, die als verloren g...      Kultur
2     Der frischgekürte CEO Sundar Pichai setzt auf ...         Web
3     Putin: "Einigung, dass wir Menge auf Niveau vo...  Wirtschaft
4     Estland sieht den künftigen österreichischen P...      Inland
...                                                 ...         ...
1023  Programm "Ebay Plus" soll Ende September start...         Web
1024  Fehlerhafte Bilanz 2013, Partei will berufen –...      Inland
1025  Als erster Olympia-Champion auch Hawaii-Sieger...       Sport
1026  Der Außenseiter aus Denver gewinnt die 50. Sup...       Sport
1027  Wohl keine Einschränkungen bei Google-Services...         Web

[10273 rows x 2 columns]